@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


/* TESTING PURPOSES */
/* outline: 1px solid rgb(0, 0, 0); */
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #f2f4fc;
  color: #292e47
}




/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */



/* ------------------------------ General ------------------------------ */
h2 {
  font-size: 50px;
  color: #514D67;
  margin: 100px 0 75px 0;
}

h1 {
  font-size: 60px;
  line-height: 130%;
  color: #292E47;
  max-width: 530px;
}


/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 60px auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li a{
  margin: 0 1rem 0 0;
  text-decoration: none!important;
  color: #6c718b;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

nav ul li a:hover{
  color: #2f98f4;
}

.navbar-toggle {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

.navbar-toggle .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #072AC8;
  border-radius: 10%;
  transition: .4s;
}


.contactBtn {
  background-color: #282cca;
  padding: 15px;
  width: 145px;
  border-color: #f2f4fc;
  
}

.contactBtn a {
  text-decoration: none!important;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.contactBtn:hover {
  background-color: #292e47;
}
/* ------------------------------ Header ------------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 1063px;
  margin: auto;
}

.header div {
  width: 46%;
}

/* #headerTXT {
  width: 46%;
} */

#headerTXT h1 {
  font-size: 60px;
  line-height: 130%;
  color: #292E47;
  max-width: 530px;
}

#headerTXT p {
  max-width: 435px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0 50px 0;
  color: #6B708D;
  margin-bottom: 40px;
}

#headerTXT div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.textLink a {
  margin: 0 1rem 0 0;
  text-decoration: none!important;
  color: #6c718b;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

.btnLink {
  background-color: #282cca;
  padding: 15px;
  width: 145px;
  border-color: #f2f4fc;
}

.btnLink a {
  text-decoration: none!important;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.textLink a:hover {
  color: #2f98f4;
}

.btnLink:hover {
  background-color: #292e47;
}

#headerIMG {
  position: relative;
}

.header-img-person {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.header-A {
  position: absolute;
  max-width: 55%;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.header-B {
  position: absolute;
  max-width: 55%;
  bottom: -20%;
  right: -20%;
  top: auto;
  left: auto;
}

/* ------------------------------ Partners ------------------------------ */
.banner {
  width: 80vw;
  max-width: 1063px;
  margin: auto;
}

.bannerCompanies {
  display: flex;
  justify-content: row;
  align-items: center;
  padding: 30px;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-140vw);
  }
}

.imgCompanies {
  filter: grayscale(1);
  width: 10rem;
  margin-left:200px;
  
}

.imgCompanies:hover {
  filter: grayscale(0);
}

/* ------------------------------ Recent projects ------------------------------ */
.recentProjects {
  width: 80vw;
  max-width: 1063px;
  margin: auto;
}

.recentProjectFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectElement {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 337px;
  height: 523px;
}

.projectElement h3 {
  margin: 25px;
}

.projectElement p {
  margin: 0 25px 25px 25px;
}

.projectElement a {
  color:#072AC8;
  text-decoration: none!important;
  margin: 0 25px 25px 25px;
}

.projectIMG {
  height: 240px;
  width: 100%; 
}
/* ------------------------------ Client reviews ------------------------------ */

.clientReview {
  /* width: 80vw;
  margin: 80px auto; */
  max-width: 1215px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #292e47;
  background-image: url("/IronHack-MidTerm/ironhack-midterm/resources/images/testimonial-section/orbit.png");
  background-size: cover;
  height: 622px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 50px;
}

.clientReview h2 {
  color: white;
  font-size: 40px;
}

.clientReview p {
  color: #FFC600;
  font-size: 24px;
  font-style: medium;
}

.emoji {
  width: 135px;
  height: 135px;
  position: absolute;
}

.eA {
  left: 10%;
  top: 10%;
  right: auto;
  bottom: auto;
}

.eB {
  left: auto;
  top: 10%;
  right: 10%;
  bottom: auto;
}

.eC {
  left: 10%;
  top: auto;
  right: auto;
  bottom: 10%;
}

.eD {
  left: auto;
  top: auto;
  right: 10%;
  bottom: 10%;
}



.kristinaWatson {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kristinaWatson h4 {
  color:#7cc2ff;
}

.kristinaWatson h5 {
  color: white;
}

.kristinaWatson img{
  width: 48px;
  height: 48px;
  border-radius: 100px;
  margin-right: 10px;
}


/* ------------------------------ Services ------------------------------ */

.ourServices {
  width: 80vw;
  max-width: 1063px;
  margin: auto;
  margin-bottom: 25px;
}

.allServices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.serviceElement {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 337px;
  height: 322px;
}

.serviceElement h3 {
  font-size: 1.3rem;
  text-align: center;
  margin: 25px;
}

.serviceElement p {
  margin: 0 25px 25px 25px;
}
.serviceElement a {
  color:#072AC8;
  text-decoration: none!important;
  margin: 0 25px 25px 25px;
}

.serviceElement img {
  width: 80px;
  margin: 25px 0px 0px 25px;
  /* border-radius: 80px; */
  background-color: #ecf6ff;
  background-size: 100px;
}

/* ------------------------------ Questions form ------------------------------ */

#questions {
  background-color: #ffc600;
  height: 400px;
  /* margin-top: 150px; */
  max-width: 1215px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

#questions h2 {
  color: black;
  font-size: 40px;
  margin: 0px 0px 15px 0px;

}

#question p {
  color: #6c718b;
  font-weight: 400;
  margin: 20px 0 50px 0;
}

#suscribeBTN {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 25px 50px 25px 50px;
  text-decoration: none;
  margin-left: 12px;
}

#suscribeINPT {
  border: 0;
  height: 70px;
  font-weight: 400;
  font-size: 1.1rem;
  width: 500px;
  background: url("../images/newsletter/icon/mail.svg") no-repeat scroll 7px 7px;
  background-position: 3% 50%;
  background-color: white;
  padding-left: 50px;
}

/* ------------------------------ Footer ------------------------------ */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 80px auto;
  max-width: 1063px;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.footerGrid a {
  font-weight: 400;
  color: #072AC8;
  text-decoration: none!important;
}

.footerCircle img {
  width: 100px;
  margin-bottom: 20px;
}

/* ------------------------------ Back to Top ------------------------------ */
.backTop {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: Center;
  bottom: 0;
  padding: 20px;
}







/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */
.contactBody {
  width: 80vw;
  margin: auto;
  max-width: 1063px;
}

.contactTitle {
  padding-bottom: 75px;
}

.contactForm form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.contactForm label {
  margin-bottom: 10px;
  font-weight: 400;
  color: #6B708D;
  font-size: 18px;
}

.contactFormInput {
  background-color: #e4e6f0;
  height: 75px;
  font-size: 16px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.contactFormSection2 {
  display: flex;
  justify-content: space-between;
}

.contactFormMessage {
  background-color: #e4e6f0;
  height: 225px;
  font-size: 16px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 25px;
}

.contactFormSection2 div {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.contactFormButton {
  height: 75px;
  background-color: #282cca;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {


  /* ------------------------------ Navbar ------------------------------ */
  nav {
    height: 75px;
    margin: 0 0 15px 0;
    padding: 0 35px 15px 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 766px;
  }
  
  /* nav ul {
    display: none;
  } */

  nav img {
    width: 150%;
  }

  .contactBtn {
    display: none;
  }
  
  /* ------------------------------ Header ------------------------------ */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 766px;
  }
  
  .header div {
    width: 100%;
    text-align: center;
    margin: 0 15px 30px 15px;
  }

  #headerTXT h1 {
    text-align: center;
    width: 100%;
    align-items: center;
    margin: auto;
    font-size: 40px;
  }

  #headerTXT p {
    width: 100%;
    color: #6B708D;
    text-align: center;
    margin: 30px auto;
  }

  #headerTXT div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .header-A {
    display: none;
  }
  
  .header-B {
    display: none;
  }
  
  /* ------------------------------ Banner ------------------------------ */

  .banner {
    width: 100%;
    margin: auto;
  }
  
  .bannerCompanies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 80px;
    animation: none;
  }

  .imgCompanies {
    filter: grayscale(0);
    width: 50%;
    margin-left: 0px;
    margin: auto;
  }

  #imgNoShow {
    display: none;
  }

  /* ------------------------------ Recent Projects ------------------------------ */
  .recentProjectFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .projectElement {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: 523px;
    margin-bottom: 15px;
  }

  /* ------------------------------ Reviews ------------------------------ */
  .clientReview {
    max-width: 100%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #292e47;
    background-image: url("/IronHack-MidTerm/ironhack-midterm/resources/images/testimonial-section/orbit.png");
    background-size: cover;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 70px 0 70px 0;
  }
  .clientReview h2 {
    margin: 0px;
    font-size: 30px;
  }

  .clientReview p {
    color: #FFC600;
    font-size: 30px;
    font-style: medium;
  }
  
  
  .eA {
    display: none;
  }
  
  .eB {
    display: none;
  }
  
  .eC {
    display: none;
  }
  
  .eD {
    display: none;
  }

  /* ------------------------------ Services ------------------------------ */
  .allServices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .serviceElement {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .serviceElement img {
    width: 60px;
    margin: 35px 0px 0px 35px;
    /* border-radius: 80px; */
    background-color: #ecf6ff;
    background-size: 100px;
  }

  .serviceElement h3 {
    font-size: 1.6rem;
    text-align: start;
    margin: 25px;
  }
  /* ------------------------------ Footer ------------------------------ */
  #questions {
    background-color: #ffc600;
    height: 500px;
    max-width: 100%px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  #suscribeINPT {
    margin-bottom: 10px;
  }


  /* ------------------------------ Footer ------------------------------ */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  vertical-align: middle;
  margin-bottom: 100px;
}

.footerCircle {
  margin-bottom: 20px;
  text-align: center;
}

.footerGrid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}


}

/* ------------------------------ Hamburguer menu ------------------------------ */

@media (max-width: 766px) {
  /* nav ul {
    list-style: none;
    display: grid;
    position: absolute;
    align-items: flex-end;
    background-color: #c9c8c9;
    width: 766px;
    top: 75px;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s;
  } */

  .navbar-toggle {
    display: grid!important;
  }

  #navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  #navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  #navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  nav ul {
    position: fixed;
    left: 100%;
    top: 70px;
    flex-direction: column;
    background-color: #072ac8ab;
    width: 100%;
    text-align: center;
    transition: .3s;

  }

  nav ul li {
    margin: 16px 0;
  }

  nav ul.active {
    left: 0;
  }

  nav ul.active a {
    color: white;
    font-weight: 800;
    font-size: 30px;
  }


}

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
