@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


/* TESTING PURPOSES */
outline: 1px solid rgb(0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #f2f4fc;

}




/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 60px auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li a{
  margin: 0 1rem 0 0;
  text-decoration: none!important;
  color: #6c718b;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

nav ul li a:hover{
  color: #2f98f4;
}


.contactBtn {
  background-color: #282cca;
  padding: 15px;
  width: 145px;
  border-color: #f2f4fc;
  
}

.contactBtn a {
  text-decoration: none!important;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.contactBtn:hover {
  background-color: #292e47;
}
/* ------------------------------ Header ------------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
}

.header div {
  width: 46%;
  /* background-color: #2f98f4;
  margin-right: auto;
  margin-left: auto;
  align-items: center; */
}

#headerTXT {
  max-width: 530px;
  margin-right: 88px;
  /* background-color: #2f98f4; */
}

#headerTXT h1 {
  font-size: 60px;
  line-height: 130%;
  color: #292E47;
}

#headerTXT p {
  max-width: 435px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0 50px 0;
  color: #6B708D;
  margin-bottom: 40px;
}

#headerTXT div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.textLink a {
  margin: 0 1rem 0 0;
  text-decoration: none!important;
  color: #6c718b;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}

.btnLink {
  background-color: #282cca;
  padding: 15px;
  width: 145px;
  border-color: #f2f4fc;
}

.btnLink a {
  text-decoration: none!important;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.textLink a:hover {
  color: #2f98f4;
}

.btnLink:hover {
  background-color: #292e47;
}

#headerIMG {
  position: relative;
  size: 80%;
}

.header-img-person {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.header-A {
  position: absolute;
  max-width: 55%;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.header-B {
  position: absolute;
  max-width: 55%;
  bottom: -20%;
  right: -20%;
  top: auto;
  left: auto;
}

/* ------------------------------ Partners ------------------------------ */
.banner {
  width: 80vw;
  /* margin-top: 100px; */
  margin: 100px auto 0;
}

.bannerCompanies {
  display: flex;
  justify-content: row;
  align-items: center;
  padding: 30px;
}

.imgCompanies {
  filter: grayscale(1);
  width: 10rem;
  margin-left:45px;
}

.imgCompanies:hover {
  filter: grayscale(0);
}

/* ------------------------------ Recent projects ------------------------------ */
.recentProjects {
  width: 80vw;
  margin: 80px auto;
}

.recentProjects h2 {
  font-size: 50px;
  color: #514D67;
}

.recentProjectsTestimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
